<!DOCTYPE html>
<html>
<head>
    <title>Live Market</title>
</head>
<body>

<div>NIFTY: <span id="nifty">--</span></div>
<div>BANKNIFTY: <span id="banknifty">--</span></div>
<div>FINNIFTY: <span id="finnifty">--</span></div>

<script>
const socket = new WebSocket("ws://127.0.0.1:8000/ws/market/");

socket.onmessage = function(e) {
    const data = JSON.parse(e.data);

    if (data.symbol === "NIFTY") {
        document.getElementById("nifty").innerText = data.ltp;
    }

    if (data.symbol === "BANKNIFTY") {
        document.getElementById("banknifty").innerText = data.ltp;
    }

    if (data.symbol === "FINNIFTY") {
        document.getElementById("finnifty").innerText = data.ltp;
    }
};
</script>

</body>
</html>
